html
    head
        title #{title}
    body
        h1 #{message}
        ul
           each val in list
                li 
                   a(href='/event/' + val.calId + '/' + val.id) 
                      = val.name
        